alembic==1.20.0
bcrypt==5.0.0
cryptography==50.0.1
openpyxl==3.1.5
pandas==3.0.6
plotly==7.1.0
psycopg==3.3.6
psycopg-binary==3.3.6
python-dotenv==1.2.3
python-calamine==0.8.2
SQLAlchemy==2.1.1
streamlit==1.64.0
streamlit-authenticator==0.4.2
